@import '../variables';
@import '../mixin.scss';

.header {
	background-color: $headerBackground;
	padding: 3px 0;
	&-container {
		max-width: $mainMaxWidth-1140;
		width: 100%;
		margin: 0 auto;
		.header-nav {
			@include flex(0, space-between);
			.header-list {
				@include flex(58px);
				&-item {
				}
			}
			.header-auth {
				@include flex(10px);
				img {
					width: 16px;
					height: 34px;
				}
			}
		}
	}
	a {
		color: $navItemTextColor;
		font-size: 0.938rem;
	}
}

// Active-Color
.active {
	color: $activeTextColor !important;
	transition: 0.6s;
}
