@import '../variables';
@import '../mixin.scss';

.header {
	background-color: $headerBackground;
	padding: 3px 0;

	@media all and (max-width: 720px) {
		display: none;
	}
	&-container {
		max-width: $mainMaxWidth-1140;
		width: 100%;
		margin: 0 auto;

		@media all and (max-width: 1140px) {
			max-width: 992px;
		}

		@media all and (max-width: 992px) {
			padding: 0 25px;
		}
		.header-nav {
			@include flex(0, space-between);
			.header-list {
				@include flex(58px);
				@media all and (max-width: 1140px) {
					@include flex(30px);
				}
			}
			.header-auth {
				@include flex(10px);
				img {
					width: 16px;
					height: 34px;
				}
			}
		}
	}
	a {
		color: $navItemTextColor;
		font-size: 0.938rem;
	}
}

// Header Mobile

.header-mobile {
	background: $headerBackground;
	display: none;

	@media all and (max-width: 576px) {
		display: block;
	}
	.mobile-container {
		max-width: 540px;
		margin: 0 auto;

		@media all and (max-width: 576px) {
			padding: 0 15px;
		}
		.header-mobile-nav {
			height: 45px;
			@include flex(_, space-between);
			.header-mobile-burger {
				@include wh(20px, 20px);
				@include flexColumn(5px);
				cursor: pointer;
				span {
					display: inline-block;
					@include wh(100%, 1px);
					background: #fff;
				}
			}
			.header-mobile-logo {
				img {
					height: 20px;
				}
			}

			.header-mobile-auth {
				@include flex(10px, _);
				li {
					cursor: pointer;
					img {
						height: 25px;
					}
				}
			}
		}
	}
}

// Active-Color
.active {
	color: $activeTextColor !important;
	transition: 0.6s;
}
