@import './fonts';
@import './variables';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1;
	font-family: 'SF Pro Display Regular';
}

body {
	color: $mainTextColor;
	background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}
